body{
    background: #ffb3b3;
    background: linear-gradient(84deg, rgba(255, 179, 179, 1) 0%, rgba(228, 179, 255, 1) 50%, rgba(168, 174, 255, 1) 100%);
}
nav{
    background: #ff0000;
    background: linear-gradient(84deg, rgba(255, 0, 0, 1) 0%, rgba(175, 89, 222, 1) 50%, rgba(0, 17, 255, 1) 100%);
}

.nav .nav-item .nav-link{
    color:white ;
}
.nav .nav-link:hover{
    color: rgb(207, 207, 207);
}
.nav .nav-link{
    color: rgb(207, 207, 207);
}

.footer{
    background: #f7dcdc;
    background: linear-gradient(84deg, rgba(247, 220, 220, 1) 1%, rgba(251, 222, 252, 1) 50%, rgba(212, 212, 250, 1) 100%);
}
.footer1{
    padding-left: 300px;
}
.footer2{
    padding-left: 50px;
}
.footer3{
    padding-left: 50px;
}
.gname{
    font-weight: lighter;
}